
<a href="/sushi">Back</a>

<div class="row">
  <article class="col-xs-12">
    <div class="media">
      <!-- Sushi Image -->
      <div class="pull-left">
        <img  class="img-responsive img-thumbnail full-photo"
              onerror="this.src='/images/noImage.jpg'"
              src="<%= sushi.showPhoto() %>"
        /> <!-- end of img -->
      </div>

      <div class="media-body">

        <!-- Content -->
        <h1 class="media-heading">
          <a href= "/sushi/<%= sushi.id%>">
            <%= sushi.sushi_name %>
          </a>
        </h1>
        <ul>
          <li><b>Comment :  </b> <%= sushi.comment %> </li>
          <li><b>Where :  </b> <%= sushi.where %> </li>
        </ul>

        <!-- Links -->
        <ul class="list-unstyled"s>
          <li>
            <a href="/sushi/<%= sushi.id%>/edit">
              <span class="glyphicon glyphicon-comment"></span>
              Edit Comment
            </a>
          </li>
          <li>
            <% if (sushi.status == "favourite"){ %>
              <a href="/sushi/<%= sushi.id %>/SUPER">
                <i class="ion-heart"></i>
                favourite
              </a>
            <% } else { %>
                <a href="/sushi/<%= sushi.id %>/favourite">
                  <i class="ion-heart"></i>
                  <i class="ion-heart"></i>
                  SUPER favourite
                </a>
            <% } %>
          </li>
          <li>
            <a href= "/sushi/<%= sushi.id %>/delete">
              <i class="ion-close-circled"></i> Delete Entry
            </a>
          </li>
        </ul>
      </div> <!-- media-body -->
    </div> <!-- media -->
  </article>
</div>
